@import 'tailwindcss';

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {

  /* google font */
  --font-fredoka: "Fredoka", sans-serif;

  /* Font Family */
  --font-poppins: "Poppins", sans-serif;

  /* Custom Colors */
  --color-brand-blue: #2159D4;   /* Stroke & Primary */
  --color-brand-light: #99B9FF;  /* Background Active/Hover */
  --color-brand-gray: #6B6B6B;   /* Font Secondary */
  --color-brand-dark: #000000;   /* Font Primary */
}

@layer base {
:root {
    /* Setup variabel biar gampang kalau mau ganti nanti */
    --font-main: "Fredoka", sans-serif;
}

/* Pastikan input, button, dan select juga ikut pakai Fredoka */
/* input, button, select, textarea {
    font-family: var(--font-main);
} */

input, button, select, textarea, span, a, h1, h2, h3, h4, h5, h6 {
    @apply font-fredoka; /* Ini kunci supaya form tidak balik ke font sistem */
    font-weight: 500;
  }
  
  /* Opsional: Atur ketebalan default untuk heading */
  p {
  @apply font-fredoka; /* Ini kunci supaya form tidak balik ke font sistem */
  /* font-weight: 500; */
}

/* Custom Scrollbar Minimalist */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Sangat tipis */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Track transparan biar nggak ganggu */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0; /* Warna abu-abu soft (slate-200) */
    border-radius: 10px;
    transition: all 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1; /* Sedikit lebih gelap saat di-hover (slate-300) */
}

/* Khusus Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 transparent;
}
}